# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning


database:
	dsn: 'mysql:host=127.0.0.1;dbname=testbench_empty'


doctrine:
	driver: pdo_mysql #pdo_pgsql
	user: root #postgres
	password: '...'
	dbname: testbench_empty


testbench:
	sqls:
		- %testsDir%/_helpers/sqls/mysql_1.sql
		- %testsDir%/_helpers/sqls/mysql_2.sql
#		- %testsDir%/_helpers/sqls/pgsql_1.sql
#		- %testsDir%/_helpers/sqls/pgsql_2.sql
