# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning


database:
	dsn: 'mysql:host=127.0.0.1;dbname=information_schema'
	options: [PDO::MYSQL_ATTR_COMPRESS = true]


doctrine:
	host: 127.0.0.1
	dbname: information_schema
	driver: pdo_mysql
	user: root
	password: root


extensions:
	migrations: Zenify\DoctrineMigrations\DI\MigrationsExtension
	- Symnedi\EventDispatcher\DI\EventDispatcherExtension #migrations


migrations:
	directory: %appDir%/../Migrations
	namespace: Testbench\Migrations


testbench:
	url: http://test.bench/
	migrations: yes
	shareDatabase: no
    dbprefix: _testbench_
	sqls:
		- %testsDir%/_helpers/sqls/mysql_1.sql
		- %testsDir%/_helpers/sqls/mysql_2.sql
#		- %testsDir%/_helpers/sqls/pgsql_1.sql
#		- %testsDir%/_helpers/sqls/pgsql_2.sql
