database:
	default:
		dsn: 'mysql:host=127.0.0.1;dbname=testbench_initial'
		user: travis
		password: ''
		options: [PDO::MYSQL_ATTR_COMPRESS = true]


doctrine:
	metadata:
		App: %appDir%
	default:
		driver: pdo_mysql
		user: travis
		password: ''
		dbname: testbench_initial


extensions:
	migrations: Zenify\DoctrineMigrations\DI\MigrationsExtension
	- Symnedi\EventDispatcher\DI\EventDispatcherExtension #migrations


migrations:
	directory: %testsDir%/_helpers/Migrations
	namespace: Testbench\Migrations


testbench:
	migrations: yes
	sqls:
		- %testsDir%/_helpers/sqls/mysql_1.sql
		- %testsDir%/_helpers/sqls/mysql_2.sql
