database:
	dsn: 'pgsql:host=127.0.0.1;dbname=postgres'
	user: postgres
	password: ''
	options: [PDO::MYSQL_ATTR_COMPRESS = true]


doctrine:
	metadata:
		App: %appDir%
	host: 127.0.0.1
	dbname: postgres
	driver: pdo_pgsql
	user: postgres
	password: ''


testbench:
	migrations: no
	sqls:
		- %testsDir%/_helpers/sqls/pgsql_1.sql
		- %testsDir%/_helpers/sqls/pgsql_2.sql
